@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@300&display=swap');

.frame {
  width: 99%;
  height: $frame_height;

  -webkit-app-region: drag;

  display: flex;
  flex-direction: row;

  .title {
    width: 90%;
    height: 100%;

    display: flex;
    justify-content: left;
    align-items: center;

    h1 {
      padding-top: 7px;
      padding-left: 16px;

      font-family: 'Yantramanav', sans-serif;
      font-size: 25px;
      color: #b2b0b0;

      margin: 0;
    }
  }
  .choose-browser {
    width: 10%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 30%;

      -webkit-app-region: none;
      cursor: pointer;
    }
  }
}
